body{
    background-color: #ffffff;
    margin: 0;
    font-family: 'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.head-bar{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);;
    box-shadow: 0 25px 25px -2px rgba(0,0,0,.09);
    border-radius: 5px;
    position: relative;
}

.head-title{
    width: 200px;
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 20%;
    left: 20px;
}

.container{
    width: 1200px;
    height: 1000px;
    margin: 20px auto;
}

.chart_1, .chart_2{
    width: 1100px;
    height: 800px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 25px 25px -2px rgba(0,0,0,.09);
    padding: 10px;
}

.chart_title, .chart_title_large{
    margin: 10px auto;
    width: 650px;
    height: 15px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 10px;
}

.chart_title_large{
    width: 370px;
}

.chart_desc{
    padding: 20px;
}

.chart_select, .chart_select_average, .chart_select_year{
    width: 230px;
    margin-left: 40px;
    border-radius: 5px;
    height: 30px;
}

.chart_desc span{
    word-break:break-all;
    color: #888888;
}

.echarts_main, .echarts_average, .echarts_map{
    width: 1000px;
    height: 600px;
    margin: 10px auto;
}

.echarts_average{
    width: 600px;
}

.chart_1, .chart_2{
    margin-bottom: 30px;
}